// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		 -khtml-user-select: none; /* Konqueror HTML */
			 -moz-user-select: none; /* Firefox */
				-ms-user-select: none; /* Internet Explorer/Edge */
						user-select: none; /* Non-prefixed version, currently
																	supported by Chrome and Opera */
}
input,select,img,a{
	outline:0;
}

.main-wrapper{
	display: block;
	width: 100%;
	header{
		position: fixed;
		height: 60px;
		width: 100%;
		z-index: 101;
	}
}
#left-side{
	position: fixed;
	width: 180px;
	left: -180px;
	padding-top: 60px;
	box-shadow: 4px 0px 5px 0px #bbbbbb;
	background-color: white;
	z-index: 100;
	height: 100vh;
	transition: all 0.2s ease-in-out;
	&.menu-open{
		left: 0px;
	}
}
#right-side{
	display: block;
	margin-left: 0px;
	padding-top: 60px;
	padding-right: 10px;
	padding-left: 10px;
	transition: all 0.2s ease-in-out;
	&.menu-open{
		margin-left: 180px;
	}
}
@media(max-width: 600px){
	#left-side{
		width: 120px;
		left: -120px;
	}
	#right-side{
		margin-left: 0;
		&.menu-open{
			margin-left: 120px;
		}
	}

}

.sidebar-nav{
	background-color: #fff;
	font-family: FontAwesome;
	height: 100vh;
	ul{
		list-style-type: none;
		padding-left: 0px;
		li{
			&.show-nested-children{
				a{
					&:not([href]){
						&:after{
							transform: rotateZ(90deg);
						}
					}
				}
			}
			a{
				line-height: 1;
				width: 100%;
				position: relative;
				display: block;
				padding: 10px 0px;
				padding-left: 10px;
				border-bottom: 1px solid #e6e6e6;
				text-decoration: none;
				color: #333;
				&:hover{
					background-color: #ddd;
					cursor: pointer;
				}

				&[href]{
					/* color: green !important; */
				}

				&:not([href]){
					/*
					&:after{
						content: ">";
						float: right;
						margin-right: 8px;
						margin-left: 8px;
						padding: 3px;
						width: 21px;
						height: 21px;
						vertical-align: middle;
						text-align: center;
						font-size: 15px;
						line-height: 12px;
						animation: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
						border-radius: 50%;
						box-shadow: 1px 1px 4px 0px #adadad;
					}
					*/
				}
				&+ul{
					display: none;
				}
				&+ul.show{
					display: block;
					a{
						padding-left: 20px;
						&:before{
							content:'-';
						}
					}
				}
			}
		}
	}
}

label{
	&.required{
		&:after{
			content:'*';
			color:red;
		}
	}
	&.required_asterisk{
		&:before{
			content:'*';
			color:red;
		}
	}
}
.close-alert{
	padding: 5px 6px;
	box-shadow: 2px 2px 10px #7f7f7f;
	box-shadow: 2px 2px 10px #7f7f7f7a;
	border-radius: 50%;
	cursor: pointer;
}
.navbar-brand{
	img{
		max-height: 50px;
		position: relative;
	}
}
th{
	&[order_by]{
		cursor: pointer;
		&:before{
			padding-right: 5px;
		}
		&[order='']{
			&:before{
				font-family: FontAwesome;
				content:'\f07d';
			}
		}
		&[order='asc']{
			&:before{
				font-family: FontAwesome;
				content:'\f0d8';
			}
		}
		&[order='desc']{
			&:before{
				font-family: FontAwesome;
				content:'\f0d7';
			}
		}
	}
}
.max400{
	max-width: 400px;
}
.max600{
	max-width: 600px;
}
.table-container{
	position: relative;
	max-height: 300px;
	overflow: scroll;
}
table{
	thead{
		th{
			vertical-align: middle !important;
		}
	}
}
.preview_info{
	margin: 10px 0px;
	padding: 10px;
	border: 1px solid rgb(222, 222, 222);
	box-shadow: 2px 2px 3px #ccc;
}
tr.deleted{
	background-color:red;
	font-style: italic;
}
.custom_card{
	display: inline-block;
  box-sizing: content-box;
  padding: 7px 10px;
  margin: 10px 0px;
  border: 1px solid #e0e0e0;
  input{
  	width: 100%;
  }
}
.custom_card2{
	display: inline-block;
  box-sizing: content-box;
  padding: 7px 10px;
  margin: 10px 0px;
  border: 1px solid #e0e0e0;
}
.find_by_created_at{

	>div{
		>div{
			max-width:150px;
			display: inline-block;
		}
	}
}
.find_by_sale_prices{

	>div{
		>div{
			max-width:150px;
			display: inline-block;
		}
	}
}
.nav_pagination{
	position: relative;
    width: 100%;
    overflow-x: scroll;
    li{
    	cursor: pointer;
    }
}
.sales_rows_x_page{
	cursor: pointer;
}
.table-container2{
	position: relative;
	width: 100%;
	overflow-x: scroll;
}
@media(max-width: 699px){
	.navbar{
		padding: 0.3rem 0.1rem !important;
	}
	.main-wrapper header {
		height: 44px;
	}
	.navbar-toggler{
		padding: 0.25rem 0.3rem !important;
		font-size: 1.1rem !important;
		line-height: 0.8 !important;
	}
	.navbar-toggler-icon{
		width: 1.1rem !important;
		height: 1.1rem !important;
	}
}