<template>
	<div>
		<b-modal
			id="modal_excel_report"
			ref="modal_excel_report"
			title="Reportes excel"
		>
			<a 
				:href="`${server_url}/exportar-excel-todo`" 
				target="_blank">
				<b-btn 
					size=sm
					variant=success>
					<fai :icon="['far','file-excel']" /> Exportar listado
				</b-btn>
			</a>
		</b-modal>
		<b-modal 
			id="modal_measurement_units"
			ref="modal_measurement_units" 
			title=" Listado de unidades de medida "
			size=md
			ok-title="Cerrar"
			:ok-only="true"
			:no-close-on-esc="true"
			:no-close-on-backdrop="true"
		>
			<table class="table table-hover table-stripped table-borderer">
				<thead>
					<tr>
						<th>
							<b-btn 
								size=sm
								variant=success
								@click=" getMeasurementUnits(false) ">
								<fai v-if=" !measurement_units_wait " icon=sync />
								<b-spinner 
									v-else 
									variant=light 
									label="Spinning" small />
							</b-btn>
						</th>
						<th>Unidad de medida</th>
						<th>
							<b-btn 
								size=sm
								@click=" addMeasurementUnit "
								variant=primary
								v-b-modal.modal_measurement_unit>
								<fai icon=plus />
							</b-btn>
						</th>
					</tr>
				</thead>
				<tbody v-if=" measurement_units.length > 0 ">
					<tr v-for=" (it, idx) in measurement_units " :key="idx">
						<td>{{ idx + 1 }}</td>
						<td>{{ it.mu_name }}</td>
						<td>
							<b-btn 
								v-b-modal.modal_measurement_unit
								size=sm 
								variant=primary 
								@click=" editMeasurementUnit(it) ">
								<fai icon=edit />
							</b-btn>
							<b-btn 
								size=sm 
								variant=danger 
								@click=" delMeasurementUnit(it) ">
								<fai icon=trash />
							</b-btn>
						</td>
					</tr>
				</tbody>
				<tbody v-else>
					<tr>
						<td colspan="3">
							<span>Sin registros</span>
						</td>
					</tr>
				</tbody>
			</table>
		</b-modal>
		<b-modal 
			id="modal_measurement_unit"
			ref="modal_measurement_unit" 
			:title=" `${measurement_unit_form.id ? 'Actualizar' : 'Crear'} unidad de medida` "
			size=md
			:ok-title="measurement_unit_form.id ? 'Actualizar' : 'Crear'" 
			cancel-title="Cerrar"
			@ok="procMeasurementUnit"
			:no-close-on-esc="true"
			:no-close-on-backdrop="true"
		>
			<b-form-group label="Unidad de medida">
				<b-input v-model=" measurement_unit_form.mu_name " />
			</b-form-group>
		</b-modal>
		<b-modal 
			id="modal_supplier"
			ref="modal_supplier" 
			:title=" `${supplier_form.id ? 'Actualizar' : 'Crear'} proveedor` "
			size=md
			:ok-title="supplier_form.id ? 'Actualizar' : 'Crear'" 
			cancel-title="Cerrar"
			@ok="procSupplier"
			:no-close-on-esc="true"
			:no-close-on-backdrop="true"
		>
			<b-form-group label="Proveedor">
				<b-input v-model=" supplier_form.sup_name " />
			</b-form-group>
			<b-form-group label="Documento Proveedor">
				<b-form-select 
					v-model=" supplier_form.document_type.selected " 
					:options=" supplier_form.document_type.options " 
					size="sm" 
					class="mt-3" />
			</b-form-group>
			<b-form-group label="Documento Proveedor">
				<b-input v-model=" supplier_form.document_number " />
			</b-form-group>
		</b-modal>
		<b-modal
			id="modal_form"
			ref="modal_form"
			:title=" `${reg_form.id ? 'Actualizar' : 'Crear'} adquisición` "
			size=lg
			:ok-title="reg_form.id ? 'Actualizar' : 'Crear'" 
			cancel-title="Cerrar"
			@ok="proc" 
			:no-close-on-esc="true"
			:no-close-on-backdrop="true"
		>
			<b-card bg-variant=card1 title="Proveedores" title-tag="h5">
				<b-input-group class="mt-3">
					<template v-slot:append>
						<b-btn 
							variant=success
							size=sm
							@click="findSupplier">
							<fai v-if=" !find_supplier_wait "  icon=search />
							<b-spinner v-else
								variant=light 
								label="Spinning" small />
						</b-btn>
					</template>
					<b-form-input 
						:disabled=" find_supplier_wait "
						v-model="find_supplier_text" 
						v-on:keyup.enter=" findSupplier " />
				</b-input-group>
				<div style="max-height: 200px;overflow: scroll">
					<table 
						class=" 
							table-supplier
							table 
							table-hover 
							table-borderer 
							table-stripped">
						<thead>
							<tr>
								<th>#</th>
								<th>Proveedor</th>
							</tr>
						</thead>
						<tbody v-if=" find_supplier_list.length > 0 ">
							<tr 
								v-for=" (it, idx) in find_supplier_list " 
								@click="selectSupplier(it)" :key="idx">
								<td>{{ idx + 1}}</td>
								<td 
									:class="{selected: ( current_supplier && current_supplier.id == it.id ) }">
									<i>
										<fai icon=chevron-right />
									</i>
									<span>{{ `${it.sup_name} ${ it.document_number ? ` / ${it.document_number}` : '' }` }}</span>		
									<b-btn 
										@click=" editSupplier(it) "
										size=sm
										variant=primary
										v-b-modal.modal_supplier >
										<fai icon=edit />
									</b-btn>
								</td>
							</tr>
						</tbody>
						<tbody v-else>
							<tr>
								<td colspan=2>
									<span>Sin resultados en la búsqueda de proveedores</span>
									<b-btn
										v-b-modal.modal_supplier
										variant=primary
										size=sm
										@click="addSupplier"
									>Nuevo</b-btn>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</b-card>
			<h6 
				class="current_supplier" 
				v-if=" current_supplier ">
				PROVEEDOR: {{ `${ current_supplier.sup_name } ${ current_supplier.document_number ? ` / ${ current_supplier.document_number }` : '' }` }}
			</h6>
			<b-card style="margin: 10px 0px;">
				<b-form-group label="Producto">
					<b-input v-model=" reg_form.prod_name " />
				</b-form-group>
				<div v-if=" product_from_existing_barcode ">
					Actual producto vinculado: {{ product_from_existing_barcode.prod_name }}<br />
					stock: {{ product_from_existing_barcode.prod_stock }}
				</div>
				<b-form-checkbox v-if="product_from_barcode_searching"
					v-model=" reg_form.sync_prod_name "
					value="yes"
					unchecked-value="no" 
					class="noselect"
				>
				Sincronizar nombre y precio de venta de producto al guardar
				</b-form-checkbox>
				<hr />
				<b-form-group label="Código de Barra">
					<b-input-group>
						<template v-slot:append>
							<b-btn 
								variant=warning 
								size=sm 
								@click="findProductByBarCode">
								
								<fai v-if=" !reg_form.prod_barcode_find_wait " icon=search />
								<b-spinner v-else 
									small 
									variant="dark" 
									label="Spinning" />
							</b-btn>
						</template>
						<b-input 
							v-on:keyup.enter="findProductByBarCode" 
							:disabled=" reg_form.prod_barcode_find_wait "
							v-model=" reg_form.prod_barcode " />
					</b-input-group>
				</b-form-group>
				<div v-if=" product_from_barcode_searching ">
					Producto buscado: {{ product_from_barcode_searching.prod_name }}<br />
					Stock: {{ product_from_barcode_searching.prod_stock }}
				</div>
				<label v-else>-</label>
			</b-card>
			<b-row>
				<b-col lg=6 md=12 sm=12>
					<b-form-group label="#Doc">
						<b-input v-model=" reg_form.document_number " />
					</b-form-group>
				</b-col>
				<b-col lg=6 md=12 sm=12>
					<b-form-group label="Tipo de Doc">
						<b-form-select 
							v-model=" reg_form.document_type.selected " 
							:options=" reg_form.document_type.options " />
					</b-form-group>
				</b-col>
				<b-col lg=6 md=12 sm=12>
					<b-form-group>
						<div style="padding-bottom: 7px">
							<span>Fecha</span>
						</div>
						<b-input-group>
							<template v-slot:append>
								<b-btn 
									size=sm
									variant=danger
									@click=" reg_form.bought_at.value = '' ">
									<fai icon=times />
								</b-btn>
							</template>
							<date-picker 
							v-model="reg_form.bought_at.value" 
							:config="reg_form.bought_at.options" />
						</b-input-group>
					</b-form-group>
				</b-col>
				<b-col lg=6 md=12 sm=12>
					<b-form-group label="Grupo">
						<b-form-select 
							v-model=" reg_form.prod_group.selected " 
							:options=" reg_form.prod_group.options " />
					</b-form-group>
				</b-col>
				<b-col lg=6 md=12 sm=12>
					<b-card>
						<b-form-group label="Cantidad">
							<b-input 
								type="number" 
								min=1 
								v-model.number=" reg_form.prod_quantity " />
						</b-form-group>
						<b-form-checkbox v-if=" reg_form.sync_prod_name == 'yes' "
							v-model=" reg_form.sync_prod_quantity "
							value="yes"
							unchecked-value="no" 
							class="noselect"
						>
						Añadir "Cantidad" al stock del producto
						</b-form-checkbox>
					</b-card>
				</b-col>
				<b-col lg=6 md=12 sm=12>
					<b-form-group label="Precio 'unitario/ por kilo/ por litro' de compra">
						<b-input 
							type="number" 
							min=0 
							v-model.number=" reg_form.prod_unit_price " />
					</b-form-group>
				</b-col>
				<b-col lg=6 md=12 sm=12>
					<b-form-group label="Precio 'unitario/ por kilo/ por litro' de venta">
						<b-input 
							type="number" 
							min=0 
							v-model.number=" reg_form.prod_unit_price_for_sale " />
					</b-form-group>
				</b-col>
				<b-col lg=6 md=12 sm=12>
					<b-form-group label="Precio total">
						<b-input 
							type="number" 
							min=0 
							v-model.number=" reg_form.total_price " />
					</b-form-group>
				</b-col>
				<b-col lg=6 md=12 sm=12>
					<b-form-group label="IGV Grabado ?">
						<b-form-select 
							v-model=" reg_form.igv_type.selected " 
							:options=" reg_form.igv_type.options " />
					</b-form-group>
				</b-col>
				<b-col lg=6 md=12 sm=12>
					<b-form-group>
						<div style="padding-bottom: 7px">
							<span>Unidad de medida</span>
							<b-btn 
								size=sm 
								variant=success 
								v-b-modal.modal_measurement_unit>
								<fai icon=plus />
							</b-btn>
						</div>
						<b-input-group>
							<template v-slot:append>
								<b-btn 
									size=sm
									variant=primary
									@click=" getMeasurementUnits ">
									<b-spinner v-if=" measurement_units_wait "
										variant=light 
										label="Spinning" small />
									<fai v-else icon=sync />
								</b-btn>
							</template>
							<b-form-select 
								v-model=" measurement_unit.selected " 
								:options=" measurement_unit.options " />
						</b-input-group>
					</b-form-group>
				</b-col>
			</b-row>
		</b-modal>
		<div>
			<h5>
				Adquisiciones de productos
				<b-btn 
					size=sm
					@click="add"
					variant=success
					v-b-modal.modal_form>
					<fai icon=plus />
				</b-btn>
				<b-btn 
					size=sm
					variant=primary
					v-b-modal.modal_measurement_units>
					Unidades de medida
				</b-btn>
				<b-btn 
					size=sm
					variant=success
					v-b-modal.modal_excel_report>
					<fai :icon="['far','file-excel']" /> Reportes Excel
				</b-btn>
			</h5>
			<b-pagination
		  v-model=" currentPage "
		  :total-rows=" totalRows "
		  :per-page=" rowsPerPage "
		  aria-controls="my-table"
			/>
			<b-form-checkbox 
				:disabled=" wait_list "
				class="noselect"
	      v-model="show_deleted"
	      name="select-show-deleted"
	      value="1"
	      unchecked-value="0"
    	>
      Mostrar eliminados
			</b-form-checkbox>
			<b-form-checkbox 
				:disabled=" wait_list "
				class="noselect"
	      v-model="show_who_have_barcode"
	      name="select-show-who-have-barcode"
	      value="1"
	      unchecked-value="0"
    	>
      Mostrar los que tienen código de barra
			</b-form-checkbox>
			<b-input-group
				class="mb-3"
				prepend="Búsqueda"
				>
				<b-form-input 
					v-on:keyup.enter=" getAll " 
					:disabled=" wait_list " 
					v-model="search_string" placeholder="Buscar por código de barra / producto" />
				<b-input-group-append>
				<b-button 
					size="sm" 
					text="Button" 
					variant="success">
					<fai icon="sync" v-if="!wait_list" />
					<b-spinner 
						v-else 
						variant="light" 
						label="Spinning" small></b-spinner>
				</b-button>
				</b-input-group-append>
			</b-input-group>
			<div>
				Total de registros: {{ totalRows }}
			</div>
			<table class="table table-hover table-borderer table-stripped" :class=" { deleted:show_deleted == 1 } ">
				<thead>
					<tr>
						<th>
							<b-btn 
								size=sm
								variant=success
								@click=" getAll "
								>
								<b-spinner 
									v-if=" wait_list " 
									variant="light" 
									label="Spinning" small></b-spinner>
								<fai v-else icon=sync />
							</b-btn>
						</th>
						<th>Fecha</th>
						<th>Tipo doc</th>
						<th>#Doc</th>
						<th>Proveedor</th>
						<th>Producto</th>
						<th>Unidad de medida</th>
						<th>Grupo</th>
						<th>Cantidad</th>
						<th>Precio unitario/ por kilo / por litro</th>
						<th>GRAB. IGV</th>
						<th>Total</th>
						<th>Acción</th>
					</tr>
				</thead>
				<tbody v-if="list.length>0">
					<tr v-for="(it,idx) in list" :key="idx">
						<td>{{  ( currentPage - 1 ) * rowsPerPage + idx + 1 }}</td>
						<td>{{ get_bought_at(it.bought_at) }}</td>
						<td>{{ it.document_type }}</td>
						<td>{{ it.document_number }}</td>
						<td>{{ it.supplier ? `${ it.supplier.document_number ? `${it.supplier.document_number} / ` : '' }${ it.supplier.sup_name }` : '-' }}</td>
						<td>{{ it.prod_name }} {{ it.prod_barcode ? ` / ${it.prod_barcode}` : '' }}</td>
						<td>{{ it.measurement_unit ? it.measurement_unit.mu_name : '-' }}</td>
						<td>{{ it.prod_group }}</td>
						<td>{{ it.prod_quantity }}</td>
						<td>{{ it.prod_unit_price }}</td>
						<td>{{ get_prod_type(it.igv_type) }}</td>
						<td>{{ it.total_price }}</td>
						<td>
							<b-btn 
								@click="edit(it)" 
								v-b-modal.modal_form
								size=sm 
								class="mb-1"
								variant=primary>
								<fai icon=edit />
							</b-btn>
							<b-btn 
								@click="del(it)"
								size=sm 
								class="mb-1"
								:variant=" it.deleted_at ? 'warning' : 'danger' " 
								>
								<fai icon=trash />
							</b-btn>
						</td>
					</tr>
				</tbody>
				<tbody v-else>
					<tr>
						<td colspan=13>Sin registros</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				find_supplier_text:'',
				find_supplier_wait:false,
				find_supplier_list:[],
				current_supplier:null,
				current_measurement_unit:null,
				wait_list: false,
				list:[],
				show_deleted:0,
				show_who_have_barcode:0,
				search_string:'',
				reg_form:{
					id:null,
					document_number:'',
					document_type:{
						selected:'FACTURA',
						options:[
							{text:'FACTURA',value: 'FACTURA'},
							{text:'BOLETA',value: 'BOLETA'},
							{text:'TICKET FACTURA',value: 'TICKET_FACTURA'},
							{text:'TICKET BOLETA',value: 'TICKET_BOLETA'},
							{text:'NOTA DE CREDITO',value: 'NOTA_DE_CREDITO'},
							{text:'NOTA DE DEBITO',value: 'NOTA_DE_DEBITO'},
							{text:'OTROS',value: 'OTROS'},
						],
					},
					bought_at:{
						value:'',
						options:{
							debug: false,
							format: 'L',
							timeZone:process.env.APP_TIMEZONE,
							locale:'es',
							useCurrent: true,
							defaultDate: '',
							icons: {
								time: 'fa fa-clock',
								date: 'fa fa-calendar',
								up: 'fa fa-arrow-up',
								down: 'fa fa-arrow-down',
								previous: 'fa fa-chevron-left',
								next: 'fa fa-chevron-right',
								today: 'fa fa-calendar-check',
								clear: 'fa fa-trash-alt',
								close: 'fa fa-times-circle'
							} 
						},
					},
					supplier_id:null,
					prod_name:'',
					prod_barcode:'',
					prod_barcode_old:'',
					prod_barcode_find_wait:false,
					sync_prod_name:'no',
					sync_prod_quantity:'no',
					prod_group:{
						selected:'OTROS',
						options:[
							{text:'ABARROTES',value: 'ABARROTES'},
							{text:'LIMPIEZA',value: 'LIMPIEZA'},
							{text:'SUMINISTROS',value: 'SUMINISTROS'},
							{text:'GOLOSINAS',value: 'GOLOSINAS'},
							{text:'OTROS',value: 'OTROS'},
						],
					},
					prod_quantity:1,
					prod_unit_price:0,
					prod_unit_price_for_sale:0,
					igv_type:{
						selected:2,
						options:[
							{ text: 'Grabado', value: 2 },
							{ text: 'NO Grabado', value: 0 },
						],
					},
					total_price:1,
					measurement_unit_id:null,
					wait:false,
					wait_del: false,
				},
				rowsPerPage:20,
				totalPages:1,
				totalRows:1,
				currentPage:1,
				supplier_form:{
					id:null,
					sup_name:'',
					document_number: '',
					document_type:{
						selected:'RUC',
						options:[
							{text:'DNI', value: 'DNI'},
							{text:'RUC', value: 'RUC'},
						],
					},
					wait:false,
				},
				measurement_unit_form:{
					id: null,
					mu_name:'',
					wait:false,
				},
				measurement_units_wait:false,
				measurement_units:[],
				measurement_unit:{
					selected:'',
					options:[],
				},
				product_from_barcode_searching:null,
				product_from_existing_barcode:null,
			}
		},
		mounted() {
			console.log('Component mounted.')
			this.getAll()
		},
		methods:{
			findProductByBarCode(){
				if(this.reg_form.prod_barcode_find_wait)return
				this.reg_form.prod_barcode_find_wait = true
				this.axios.get(`${this.server_url}/find_prod_barcode`,{
					params:{
						query: this.reg_form.prod_barcode,
					},
					headers:{
						'Accept': 'application/json',
					}
				}).then(response => {

					console.log(response)
					this.reg_form.prod_barcode_find_wait = false
					if(response.data.length>0){
						this.product_from_barcode_searching = response.data[0]
						this.reg_form.prod_barcode = this.product_from_barcode_searching.prod_barcode
						this.reg_form.prod_name = this.product_from_barcode_searching.prod_name
						this.reg_form.prod_unit_price_for_sale = this.product_from_barcode_searching.prod_price
					}else{
						this.product_from_barcode_searching = null
						this.reg_form.sync_prod_name = 'no'
					}

				}).catch(error =>{
					console.log(error)
					this.reg_form.prod_barcode_find_wait = false
					this.product_from_barcode_searching = null
					this.reg_form.sync_prod_name = 'no'
				})
			},
			get_bought_at(tt){
				if(tt){
					return this.$moment(tt,'YYYY-MM-DD').format('DD/MM/YYYY')
				}
				return '-'
			},
			get_prod_type(type){
				if(type==0)return 'NO GRABADO'
				if(type==2)return 'GRABADO'
				return 'NO DEFINIDO'
			},
			getMeasurementUnits(opts = true){
				if(this.measurement_units_wait)return
				this.measurement_units_wait = true
				this.axios.get(`${this.server_measurement_unit_url}/${opts ? 'to_options' : 'list'}`,{
					params:{
					},
					headers:{
						'Accept': 'application/json',
					}
				}).then(response => {

					console.log(response)
					this.measurement_units_wait = false
					if(opts){
						this.measurement_unit.options = response.data
						if(
							!this.measurement_unit.selected && 
							this.measurement_unit.options.length >0 
						){
							this.measurement_unit.selected = this.measurement_unit.options[0].value
						}else{
							if( this.measurement_unit.options.length == 0 ){
								this.measurement_unit.selected = null
							}
						}
					}else{
						this.measurement_units = response.data
					}

				}).catch(error =>{
					console.log(error)
					this.measurement_units_wait = false
					if(opts){
						this.measurement_unit.selected = null
						this.measurement_unit.options = []
					}else{
						this.measurement_units = []
					}

				})
			},
			addMeasurementUnit(){
				this.measurement_unit_form.id 			= null
				this.measurement_unit_form.mu_name 	= ''
			},
			editMeasurementUnit(it){
				this.measurement_unit_form.id 			= it.id
				this.measurement_unit_form.mu_name 	= it.mu_name
			},
			selectMeasurementUnit(it){
				this.current_measurement_unit = it
			},
			delMeasurementUnit(it){
				Swal.fire({
					title: `Eliminar unidad de medida ${it.mu_name}  ?`,
					text: "No se podrá deshacer esta operación",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					cancelButtonText: 'Cancelar operación',
					confirmButtonText: 'Si'
				}).then((result) => {
					if (result.value) {
						if(this.measurement_unit_form.wait)return
						this.measurement_unit_form.wait = true
						this.axios.delete(`${this.server_measurement_unit_url}/${it.id}`,{
							headers:{
								'Content-Type':'application/json',
								'Accept': 'application/json',
							}
						}).then((response) => {
							this.measurement_unit_form.wait = false
							Swal.fire({
								title:'Unidad de medida eliminada',
								icon:'success'
							})
							this.getMeasurementUnits(false)
						}).catch((error) => {
							this.measurement_unit_form.wait = false
							Swal.fire({
								title:'Error al eliminar la unidad de medida',
								icon:'warning'
							})

						})
					}
				})

			},
			procMeasurementUnit(modal_event){
				modal_event.preventDefault()
				if(this.measurement_unit_form.wait)return
				Swal.fire({
					title: `${this.measurement_unit_form.id ? 'Modificar unidad de medida ?' : 'Agregar unidad de medida'}`,
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					cancelButtonText: 'Cancelar operación',
					confirmButtonText: 'Si'
				}).then((result) => {
					if (result.value) {
						this.measurement_unit_form.wait = true
						
						const data = {...this.measurement_unit_form}
						this.axios.post(this.server_measurement_unit_url,data,{
							headers:{
								'Content-Type':'application/json',
								'Accept': 'application/json',
							}
						}).then((response) => {
							this.measurement_unit_form.wait = false
							Swal.fire({
								title:`Unidad de medida ${ this.measurement_unit_form.id ? 'actualizada' : 'creada' }`,
								icon:'success'
							})
							this.getMeasurementUnits()
							this.measurement_units_wait = false
							this.getMeasurementUnits(false)
							//this.current_supplier = response.data
						}).catch((error) => {
							this.measurement_unit_form.wait = false
							this.current_measurement_unit = null
							Swal.fire({
								title: `Error al ${ this.measurement_unit_form.id ? 'editar' : 'crear' } la unidad de medida`,
								icon:'warning'
							})

						})
					}
				})

			},
			procSupplier(modal_event){
				modal_event.preventDefault()
				if(this.supplier_form.wait)return
				Swal.fire({
					title: `${this.supplier_form.id ? 'Modificar proveedor ?' : 'Agregar proveedor'}`,
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					cancelButtonText: 'Cancelar operación',
					confirmButtonText: 'Si'
				}).then((result) => {
					if (result.value) {
						this.supplier_form.wait = true
						
						const data = {...this.supplier_form}
						data.document_type = this.supplier_form.document_type.selected

						this.axios.post(`${this.server_supplier_url}/${ this.supplier_form.id ? this.supplier_form.id : 'crear' }`,data,{
							headers:{
								'Content-Type':'application/json',
								'Accept': 'application/json',
							}
						}).then((response) => {
							this.supplier_form.wait = false
							Swal.fire({
								title:`Proveedor ${ this.supplier_form.id ? 'actualizado' : 'creado' }`,
								icon:'success'
							})
							//this.current_supplier = response.data
						}).catch((error) => {
							this.supplier_form.wait = false
							this.current_supplier = null
							Swal.fire({
								title: `Error al ${ this.supplier_form.id ? 'editar' : 'crear' } el proveedor`,
								icon:'warning'
							})

						})
					}
				})

			},
			addSupplier(){
				this.supplier_form.id = null
				this.supplier_form.sup_name = ''
				this.supplier_form.document_number = ''
			},
			editSupplier(it){
				this.supplier_form.id 										= it.id
				this.supplier_form.sup_name 							= it.sup_name
				this.supplier_form.document_number 				= it.document_number
				this.supplier_form.document_type.selected = it.document_type
			},
			selectSupplier(it){
				this.current_supplier = it
			},
			findSupplier(){
				if(this.find_supplier_wait)return
				this.find_supplier_wait = true

				this.axios.get(`${this.server_url}/find_supplier`,{
					params:{
						query: this.find_supplier_text,
					},
					headers:{
						'Accept': 'application/json',
					}
				}).then(response => {

					console.log(response)
					this.find_supplier_wait = false
					this.find_supplier_list = response.data.records

				}).catch(error =>{
					console.log(error)
					this.find_supplier_wait = false
					this.find_supplier_list = []

				})
			},
			proc(modal_event){
				modal_event.preventDefault()
				if(!this.current_supplier){
					Swal.fire({title:'Seleccione un proveedor',icon:'info'})
					return
				}
				if(this.reg_form.wait)return
				Swal.fire({
					title: `${this.reg_form.id ? 'Modificar adquisición ?' : 'Agregar adquisición'}`,
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					cancelButtonText: 'Cancelar operación',
					confirmButtonText: 'Si'
				}).then((result) => {
					if (result.value) {
						this.reg_form.wait = true
						
						const data = {...this.reg_form}
						data.bought_at = this.reg_form.bought_at.value ? this.$moment(this.reg_form.bought_at.value,'DD/MM/YYYY').format('YYYY-MM-DD') : ''
						data.igv_type = this.reg_form.igv_type.selected
						data.prod_group = this.reg_form.prod_group.selected
						data.supplier_id = this.current_supplier.id
						data.measurement_unit_id = this.measurement_unit.selected
						data.document_type = this.reg_form.document_type.selected
						console.log('updating or creating',data)
						this.axios.post(this.server_url,data,{
							headers:{
								'Content-Type':'application/json',
								'Accept': 'application/json',
							}
						}).then((response) => {
							this.reg_form.wait = false
							this.reg_form.sync_prod_quantity = 'no'
							Swal.fire({
								title:`Adquisición ${ this.reg_form.id ? 'actualizada' : 'creada' }`,
								icon:'success'
							})
							window.setTimeout(()=>{
								this.getAll()
							}, 500)
						}).catch((error) => {
							this.reg_form.wait = false
							Swal.fire({
								title:`Error al ${ this.reg_form.id ? 'actualizar' : 'crear' } adquisición`,
								icon:'warning'
							})

						})
					}
				})


			},
			del(it){
				Swal.fire({
					title: `${ it.deleted_at ? 'Restaurar' : 'Eliminar' } adquisición del producto ${it.prod_name}  ?`,
					text: `${it.deleted_at ? '' : 'Esta operación puede ser restaurada'}`,
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					cancelButtonText: 'Cancelar operación',
					confirmButtonText: 'Si'
				}).then((result) => {
					if (result.value) {
						this.reg_form.wait_del = true
						this.axios.delete(`${this.server_url}/${it.id}`,{
							headers:{
								'Content-Type':'application/json',
								'Accept': 'application/json',
							}
						}).then((response) => {
							this.reg_form.wait_del = false
							Swal.fire({
								title:`Adquisición ${ it.deleted_at ? 'restaurada' : 'eliminada' }`,
								icon:'success'
							})
							this.getAll()
						}).catch((error) => {
							this.reg_form.wait_del = false
							Swal.fire({
								title:`Error al ${ it.deleted_at ? 'restaurar' : 'eliminar' } la adquisición`,
								icon:'warning'
							})

						})
					}
				})

			},
			add(){
				this.reg_form.id = null
				this.reg_form.bought_at.value = this.$moment().format('DD/MM/YYYY')
				this.reg_form.supplier_id = null
				this.reg_form.prod_name = ''
				this.reg_form.prod_barcode = ''
				this.reg_form.prod_quantity = 0
				this.reg_form.prod_unit_price = 0
				this.reg_form.prod_unit_price_for_sale = 0
				this.reg_form.total_price = 0

				if(this.measurement_unit.options.length >0){
					this.measurement_unit.selected = this.measurement_unit.options[0].value
				}else{
					this.measurement_unit.selected = null
				}

				this.product_from_existing_barcode = null
				this.product_from_barcode_searching = null

			},
			edit(it){
				console.log("edit",it)
				this.current_supplier = it.supplier ? it.supplier : null
				this.reg_form.id = it.id
				const bought_at = it.bought_at ? this.$moment(it.bought_at,'YYYY-MM-DD').format('DD/MM/YYYY') : ''
				this.reg_form.bought_at.value = bought_at
				this.reg_form.supplier_id = it.supplier_id
				this.reg_form.prod_name = it.prod_name
				this.reg_form.prod_group.selected = it.prod_group
				this.reg_form.prod_quantity = it.prod_quantity
				this.reg_form.prod_unit_price = it.prod_unit_price
				this.reg_form.prod_unit_price_for_sale = it.prod_unit_price_for_sale
				this.reg_form.igv_type.selected = it.igv_type
				this.reg_form.total_price = it.total_price
				this.reg_form.document_type.selected = it.document_type
				this.reg_form.document_number = it.document_number

				if(it.measurement_unit){
					this.measurement_unit.selected = it.measurement_unit.id
				}else{
					if(this.measurement_unit.options.length>0){
						this.measurement_unit.selected = this.measurement_unit.options[0].value
					}else{
						this.measurement_unit.selected = null
					}
				}

				if(it.product){

					this.reg_form.prod_barcode = it.product.prod_barcode
					this.reg_form.prod_barcode_old = it.product.prod_barcode
				
					this.product_from_existing_barcode = it.product

				}else{
					this.product_from_existing_barcode = null
					this.reg_form.prod_barcode = ''
				}

				console.log('after setting edit values',this.reg_form)
			},
			getAll(){
				if(this.wait_list)return
				this.wait_list = true
				this.axios.get(`${this.server_url}/list`,{
					params:{
						page:this.currentPage,
						search_string:this.search_string,
						show_deleted:this.show_deleted,
						show_who_have_barcode:this.show_who_have_barcode,
					},
					headers:{
						'Accept': 'application/json',
					}
				}).then(response => {

					console.log(response)
					this.wait_list = false
					Swal.close()
					this.list = response.data.records
					this.totalRows = response.data.totalRows
					this.totalPages = response.data.totalPages
					this.rowsPerPage = response.data.rowsPerPage
					this.currentPage = response.data.currentPage

					this.measurement_unit.options = response.data.measurement_units
					if(!this.measurement_unit.selected){
						this.measurement_unit.selected = this.measurement_unit.options[0].value
					}
				}).catch(error =>{

					console.log(error)
					this.wait_list = false
					Swal.close()

				}).then(()=>{

				})
			},
		},
		watch:{
			currentPage:function(new_val, old_val){
				if(new_val == old_val)return
				this.getAll()
			},
			show_deleted(new_val, old_val){
				this.getAll()
			},
			show_who_have_barcode(new_val, old_val){
				this.getAll()
			},
		},
		props:{
			server_url:{
				type: String,
				default: null,
				required: true,
			},
			server_supplier_url:{
				type: String,
				default: null,
				required: true,
			},
			server_measurement_unit_url:{
				type: String,
				default: null,
				required: true,
			},
		}
	}
</script>
<style lang=scss scoped>
	.table-supplier{
		tr{
			cursor: pointer;
			td{
				i{
					display: none;
				}
				&.selected{
					font-weight: bold;
					font-style: italic;
					color: green;
					i{
						display: inline-block;
					}
				}
			}
		}
	}
	.current_supplier{
		margin: 20px 5px;
	}
	.bg-card1{
		background-color: #dce8ff !important;
	}
	.table{
		&.deleted{
			background-color: #ffe1e7;
		}
	}
</style>
