<template>
	<div>
		<h4>Adquisiciones realizadas al proveedor {{ current_supplier.sup_name }}</h4>

		<b-modal 
			:title="`${product_fields.is_new ? 'Agregar producto' : 'Editar producto'}`" 
			id="modal_form_product"
			name="modal_form_product"
			ref="modal_form_product" 
			ok-only
			:ok-title="`${product_fields.is_new ? 'Agregar' : 'Editar'}`" 
			ok-variant=success
			button-size=sm
			@ok=" bindProductToList "
		>
			<b-form-group label="Código de producto de la tienda">
				<b-form-input
        	v-model=" product_fields.supplier_product_code "
        	placeholder=""
      	/>
			</b-form-group>
			<b-form-group label="Nombre">
				<b-form-input
        	v-model=" product_fields.description "
        	placeholder=""
      	/>
			</b-form-group>
			<b-row>
				<b-col lg=6 md=12 sm=12>
					<b-form-group label="Código de barra del producto">
						<b-form-input
		        	v-model=" product_fields.item_barcode "
		        	placeholder=""
		      	/>
					</b-form-group>
				</b-col>
				<b-col lg=6 md=12 sm=12>
					<b-form-group label="Código de barra del paquete de productos">
						<b-form-input
		        	v-model=" product_fields.box_barcode "
		        	placeholder=""
		      	/>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col lg=6 md=12 sm=12>
					<b-form-group label="Cantidad">
						<b-form-input 
							type="number"
		        	v-model.number=" product_fields.quantity "
		        	min=0
		        	placeholder=""
		      	/>
					</b-form-group>
				</b-col>
				<b-col lg=6 md=12 sm=12>
					<b-form-group label="Total">
						<b-form-input
							type="number"
		        	v-model.number=" product_fields.total_price "
		        	min=0
		        	placeholder=""
		      	/>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col lg=6 md=12 sm=12>
					<b-form-group label="Tipo de descuento">
			      <b-form-radio-group 
			      	stacked 
			      	class="noselect"
			        v-model="product_fields.discount_type.selected"
			        :options="product_fields.discount_type.options"
			        name="radio-discount-type"
			      ></b-form-radio-group>
			    </b-form-group>
				</b-col>
				<b-col lg=6 md=12 sm=12>
					<b-form-group label="Valor de descuento">
						<b-form-input
							type="number"
		        	v-model.number=" product_fields.discount_value "
		        	min=0
		        	placeholder=""
		      	/>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col lg=12 md=12 sm=12>
					<b-form-group label="Con impuesto?">
			      <b-form-radio-group 
			      	stacked 
			      	class="noselect"
			        v-model="product_fields.is_taxed.selected"
			        :options="product_fields.is_taxed.options"
			        name="radio-is-taxed"
			      ></b-form-radio-group>
			    </b-form-group>
				</b-col>
			</b-row>
		</b-modal>
		<b-modal
			title="Modificar registros" 
			id="modal_acquisition"
			name="modal_acquisition"
			ref="modal_acquisition" 
			size=lg 
			:no-close-on-backdrop="true"
			cancel-title="Cerrar"
			button-size=sm
			ok-title="Actualizar" 
			@ok="updateAcquisition"
		>
			<b-row>
				<b-col lg=6 md=12 sm=12>
					<b-form-group>
						<label slot="label">
							Fecha y hora de compra de mercadería
						</label>
						<date-picker 
						v-model="form.bougth_at.value" 
						:config="form.bougth_at.options" />
					</b-form-group>
				</b-col>
				<b-col lg=6 md=12 sm=12>
					<b-form-group>
						<label slot="label">
							Fecha y hora de abastecimiento
						</label>
						<date-picker 
						v-model="form.stocked_at.value" 
						:config="form.stocked_at.options" />
					</b-form-group>
				</b-col>
			</b-row>
			<table class="table table-hover table-borderer table-stripped">
				<thead>
					<tr>
						<th>
							<b-btn 
								@click="addItemOnList"
								v-b-modal.modal_form_product
								variant=success 
								size=sm>
								<fai icon=plus />
							</b-btn>
						</th>
						<th>Código</th>
						<th>Descripción</th>
						<th>Cantidad</th>
						<th>Total</th>
						<th>Con impuesto</th>
						<th>Acción</th>
					</tr>
				</thead>
				<tbody v-if=" products.length > 0 ">
					<tr v-for=" (it,idx) in products " :key="idx">
						<td>{{ idx + 1 }}</td>
						<td>{{ it.supplier_product_code }}</td>
						<td>
							<label>{{ it.description }}</label>
							<div>
								<ul class="prod_info">
									<li><b>Código de barra del producto:</b> {{ it.item_barcode }}</li>
									<li><b>Código de barra del paquete de productos:</b> {{ it.box_barcode }}</li>
									<li><b>Tipo de descuento:</b> {{ it.discount_type == 'percent' ? '%' : 'S/.' }}</li>
									<li><b>Valor de descuento:</b> {{ it.discount_value }}</li>
								</ul>
							</div>
						</td>
						<td>{{ it.quantity }}</td>
						<td>{{ it.total_price }}</td>
						<td>{{ it.is_taxed == 'yes' ? 'SI' : 'NO' }}</td>
						<td>
							<b-btn 
								v-b-modal.modal_form_product 
								class="mb-1" 
								@click="editItemInList(it)"
								variant=primary 
								size=sm>
								<fai icon=edit />
							</b-btn>
							<b-btn 
								class="mb-1" 
								@click="removeItemInList(it)"
								variant=danger 
								size=sm>
								<fai icon=times />
							</b-btn>
						</td>
					</tr>
				</tbody>
				<tbody v-else>
					<tr>
						<td colspan=7>
							Sin registros
						</td>
					</tr>
				</tbody>
			</table>
		</b-modal>
		<b-btn 
			@click="add"
			class="mb-1"
			variant=success 
			size=sm>
			<fai icon=plus /> Nuevo
		</b-btn>
		<table class="table table-hover table-borderer table-stripped">
			<thead>
				<tr>
					<th>
						<b-btn variant=success size=sm>
							<fai icon=sync />
						</b-btn>
					</th>
					<th>Items</th>
					<th>Fecha de compra</th>
					<th>Fecha de abastecimiento</th>
					<th>Creado el</th>
					<th>Actualizado el</th>
					<th></th>
				</tr>
			</thead>
			<tbody v-if=" list.length > 0 ">
				<tr v-for=" (it, idx) in list " :key="idx">
					<td>{{ idx + 1 }}</td>
					<td>{{ it.json_products ? parse_products(it.json_products) : 'Vacío' }}</td>
					<td>{{ it.bougth_at ? it.bougth_at : '-' }}</td>
					<td>{{ it.stocked_at ? it.stocked_at : '-' }}</td>
					<td>{{ it.created_at | moment('DD/MM/YYYY hh:mm:ss a') }}</td>
					<td>{{ it.updated_at | moment('DD/MM/YYYY hh:mm:ss a') }}</td>
					<td>
						<b-btn 
							v-b-modal.modal_acquisition
							variant=primary 
							@click="show(it)"
							size=sm >
							<fai icon=edit />
						</b-btn>
						<b-btn 
							:variant=" it.deleted_at ? 'warning' : 'danger' " 
							size=sm >
							<fai icon=trash />
						</b-btn>
					</td>
				</tr>
			</tbody>
			<tbody v-else>
				<tr>
					<td colspan=7></td>
				</tr>
			</tbody>	
		</table>
	</div>
</template>
<script>
	export default{
		data(){
			return {
				wait_add:false,
				wait_update_acquisition:false,
				form:{
					id:null,
					bougth_at:{
						value:'',
						options:{
							debug: false,
							timeZone:'America/Lima',
							locale:'es',
							useCurrent: true,
							defaultDate: '',
							icons: {
								time: 'fa fa-clock-o',
								date: 'fa fa-calendar',
								up: 'fa fa-arrow-up',
								down: 'fa fa-arrow-down',
								previous: 'fa fa-chevron-left',
								next: 'fa fa-chevron-right',
								today: 'fa fa-calendar-check',
								clear: 'fa fa-trash-alt',
								close: 'fa fa-times-circle'
							} 
						},
      		},
					stocked_at:{
						value:'',
						options:{
							debug: false,
							timeZone:'America/Lima',
							locale:'es',
							useCurrent: true,
							defaultDate: '',
							icons: {
								time: 'fa fa-clock-o',
								date: 'fa fa-calendar',
								up: 'fa fa-arrow-up',
								down: 'fa fa-arrow-down',
								previous: 'fa fa-chevron-left',
								next: 'fa fa-chevron-right',
								today: 'fa fa-calendar-check',
								clear: 'fa fa-trash-alt',
								close: 'fa fa-times-circle'
							} 
						},
      		},
					json_products:'',
				},
				products:[],
				product_fields_copy:{},
				selected_acquisition:{},
				selected_product_item_from_list:{},
				product_fields:{
					is_new:false,
					supplier_product_code:'',
					description:'',
					item_barcode:'',
					box_barcode:'',
					quantity:0,
					total_price:0,
					discount_type:{
						selected:'percent',
						options:[
							{value:'percent',text:'Porcentaje'},
							{value:'currency',text:'Moneda'},
						],
					},
					discount_value:0,
					is_taxed:{
						selected:'yes',
						options:[
							{value:'yes',text:'Con impuesto'},
							{value:'no',text:'Sin impuesto'},
						],
					},
				},
				list:[],
				wait_list:false,
			}
		},
		mounted(){
			this.product_fields_copy = {...this.product_fields}
			this.getAll()
		},
		methods:{
			addItemOnList(){
				this.product_fields.is_new = true
				this.product_fields.supplier_product_code = this.product_fields_copy.supplier_product_code
				this.product_fields.description = this.product_fields_copy.description
				this.product_fields.item_barcode = this.product_fields_copy.item_barcode
				this.product_fields.box_barcode = this.product_fields_copy.box_barcode
				this.product_fields.quantity = this.product_fields_copy.quantity
				this.product_fields.total_price = this.product_fields_copy.total_price
				this.product_fields.discount_type.selected = this.product_fields_copy.discount_type.selected
				this.product_fields.discount_value = this.product_fields_copy.discount_value
				this.product_fields.is_taxed.selected = this.product_fields_copy.is_taxed.selected
			},
			removeItemInList(it){
				Swal.fire({
				  title: 'Retirar el producto de la lista ?',
				  text: "",
				  icon: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  cancelButtonText: 'Cancelar operación',
				  confirmButtonText: 'Si'
				}).then((result) => {
				  if (result.value) {
				  	let index = this.products.indexOf(it)
				  	if(index>=0){
							this.products.splice(index,1)
				  	}
				  }
				})
			},
			editItemInList(it){
				this.selected_product_item_from_list = it
				this.product_fields.is_new = false
				this.product_fields.supplier_product_code = it.supplier_product_code
				this.product_fields.description = it.description
				this.product_fields.item_barcode = it.item_barcode
				this.product_fields.box_barcode = it.box_barcode
				this.product_fields.quantity = it.quantity
				this.product_fields.total_price = it.total_price
				this.product_fields.discount_type.selected = it.discount_type
				this.product_fields.discount_value = it.discount_value
				this.product_fields.is_taxed.selected = it.is_taxed
			},
			bindProductToList(evt){
				evt.preventDefault()
				Swal.fire({
				  title: ( this.product_fields.is_new ? `Agregar nuevo producto ?` : `Editar producto ?` ),
				  text: "",
				  icon: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  cancelButtonText: 'Cancelar operación',
				  confirmButtonText: 'Si'
				}).then((result) => {
				  if (result.value) {

						const obj = {...this.product_fields}
						obj.is_taxed = this.product_fields.is_taxed.selected
						obj.discount_type = this.product_fields.discount_type.selected
						console.log(obj)

				  	if(this.product_fields.is_new){
							this.products.push(obj)
				  	}else{
				  		const index = this.products.indexOf(this.selected_product_item_from_list)
				  		if(index >= 0){
				  			this.$set(this.products,index,obj)
				  		}
				  	}
						this.$bvModal.hide('modal_form_product')

				  }
				})
			},
			parse_products(json_products){
				let str = ''
				try{
					const json = JSON.parse(json_products)
					str = '<ul>'
					for(let idx in json){
						const obj = json[idx]
						str += `<li>`
						str += `${obj.prod_name}`
						str += `</li>`
					}
					str += '</ul>'
				}catch(e){
					console.log(e.stack)
					str = ''
				}
				return str
			},
			getSBN(src,dst){
				if(!dst) dst = {}
				for(let idx in src){
					let data = src[idx]
					if(
						typeof data == 'boolean' || 
						typeof data == 'string' || 
						typeof data == 'number'
					){
						const tmp = dst[idx]
						if(typeof tmp === 'object' && tmp != null){
							const {selected} = tmp
							if(typeof selected !== 'undefined'){
								tmp.selected = data
							}else{
								const {value} = tmp
								if(typeof value !== 'undefined'){
									tmp.value = dat
								}
							}
						}else{
							dst[idx] = data
						}
						console.log(`set1: ${data}, idx: ${idx}`)
					}else if( typeof data == 'object' && data != null ){
						const {selected} = data
						if( typeof selected !== 'undefined' ){
							dst[idx] = selected
							console.log(`set2: ${selected}, idx: ${idx}`)
						}else{
							const {value} = data
							if(typeof value !== 'undefined'){
								dst[idx] = value
							}
						}
					}else{
						console.log(`Invalid type for: ${data}, idx: ${idx}`)
					}
				}
				return dst
			},
			show(it){
				this.selected_acquisition = it
				this.getSBN( it, this.form )
			},
			add(){
				Swal.fire({
				  title: 'Agregar nueva adquisición ?',
				  text: "",
				  icon: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  cancelButtonText: 'Cancelar operación',
				  confirmButtonText: 'Si!'
				}).then((result) => {
				  if (result.value) {
				  	if(this.wait_add)return
				  	this.wait_add = true
				  	Swal.fire({
				  		title:'Espere por favor...',
				  		icon:'info'
				  	})
				  	this.axios.post(`${this.url_acquisitions}`)
						.then(response => {
							console.log(response)
							this.wait_add = false
							Swal.close()
							this.getSBN(response.data, this.from)
							this.$refs.modal_acquisition.show()
						})
						.catch(error =>{
							console.log(error)
							this.wait_add = false
							Swal.close()
						}).then(()=>{

						})
				  }
				})
			},
			updateAcquisition(evt){
				evt.preventDefault()
				Swal.fire({
				  title: 'Actualizar datos de la adquisición ?',
				  text: "",
				  icon: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  cancelButtonText: 'Cancelar operación',
				  confirmButtonText: 'Si!'
				}).then((result) => {
				  if (result.value) {
				  	if(this.wait_update_acquisition)return
				  	this.wait_update_acquisition = true
				  	Swal.fire({
				  		title:'Espere por favor...',
				  		icon:'info'
				  	})
				  	console.log('products',this.products)
				  	console.log('pre-update acquisition',this.selected_acquisition)
				  	console.log('updating acquisition',this.form)
				  	this.axios.post(
				  		`${this.url_acquisitions}/${this.selected_acquisition.id}`,
				  		data,
				  	).then(response => {
							console.log(response)
							this.wait_update_acquisition = false
							Swal.close()
							Swal.fire({
								title:'Actualizado',
								icon:'success'
							})
						})
						.catch(error =>{
							console.log(error)
							this.wait_update_acquisition = false
							Swal.close()
							Swal.fire({
								title:'No se pudo actualizar la adquisición',
								icon:'error'
							})
						}).then(()=>{

						})
				  }
				})
			},
			getAll(){
				if(this.wait_list)return
				this.wait_list = true
		  	this.axios.get(`${this.url_acquisitions}`,{
		  		headers:{
		  			'Accept': 'application/json',
		  		}
		  	})
				.then(response => {
					console.log(response)
					this.wait_list = false
					Swal.close()
					this.list = response.data.records
				})
				.catch(error =>{
					console.log(error)
					this.wait_list = false
					Swal.close()
				}).then(()=>{

				})
			}
		},
		computed:{

		},
		watch:{

		},
		props:{
			current_supplier:{
				type:Object,
				required:true,
			},
			url_acquisitions:{
				type:String,
				required:true,
			},
		}
	}
</script>
<style 
	lang=scss scoped>
	#modal_form_product{
		.row{
			>div{
				display: flex;
				align-items: flex-end;
			}
		}
	}
	.prod_info{
		padding-left: 20px;
	}
</style>