<template>
	<div>
		<!--
	  <b-modal 
	  	id="modal-search-product" 
	  	title="Buscar producto">
	    <div class="my-4">
	    </div>
	  </b-modal>
		-->
		<b-modal
			id="modal_printing_mode" 
			name="modal_printing_mode" 
			size=sm
			ok-title="Cerrar"
			ok-only 
			title="Area de impresión de venta"
		>
			<b-embed 
				id="printing_area"
				name="printing_area"
				ref="printing_area"
		    type="iframe"
		    :src=" url_sales_printing_mode "
		    allowfullscreen
		  ></b-embed>
		  <b-btn
		  	@click="print" 
		  	size=sm 
		  	variant=success
		  >Imprimir</b-btn>
		</b-modal>	
		<div v-if=" !is_new && !current_sale ">
			<b-alert variant="danger" show>Registro de venta no identificada</b-alert>
		</div>
		<b-row v-else>
			<b-col lg=7>
				<b-card 
					:title=" is_new ? 'Listado de productos a vender' : 'Listado de productos vendidos en esta venta' " 
					sub-title="">

			    <b-card-body>
			    	<p>
			    		<label>Total: {{ get_total_price_for_sale }}</label>
			    	</p>
					  <b-form-checkbox 
				  		class="noselect" 
				      v-model="enable_product_quantity_edition"
				      name="enable_product_quantity_edition"
				      value="yes"
				      unchecked-value="no"
				    >
				    	Modificar cantidad de productos
				    </b-form-checkbox>
				    <div class="table-container" style="overflow-y: inherit; max-height: fit-content;">
				    	<table class="table table-stripped table-borderer table-hover">
					    	<thead>
					    		<tr>
					    			<th>#</th>
					    			<th>Producto</th>
					    			<th style="max-width: 110px;">Precio Unidad / Kilo / Litro</th>
					    			<th>Cantidad</th>
					    			<th></th>
					    		</tr>
					    	</thead>
					    	<tbody v-if=" list_products_for_sale.length > 0 ">
					    		<tr v-for=" (it,idx) in list_products_for_sale" :key="idx">
					    			<td>{{ idx + 1 }}</td>
					    			<td>
					    				<strong>{{ it.prod_name }}</strong>
					    				<div class="ii">
					    					<fai 
					    						icon=sync 
					    						@click=" getProductStockInfoOnSale(it,idx) " 
					    						v-show=" !it.prod_stock_sync " /> 
					    					<b-spinner 
					    						label="Spinning" 
					    						small 
					    						v-show=" it.prod_stock_sync " /> 
					    					<label>stock({{ `${ it.prod_stock ? it.prod_stock : '-' }${ it.prod_stock_no_unit > 0 ? ` + ${ it.prod_stock_no_unit / 1000.0 }` : '' }` }})</label>
					    				</div>
					    				<br />
					    				<i> {{ it.prod_barcode }}</i><br />
					    				<b-form-checkbox class="noselect"
									      v-model="it.prod_by_weight"
									      value="yes"
									      unchecked-value="no"
									    >
									      Por peso
									    </b-form-checkbox>
					    				<b-form-checkbox class="noselect"
									      v-model="it.discount_sale"
									      value="yes"
									      unchecked-value="no"
									    >
									      Con descuento?
									    </b-form-checkbox>
					    				<b-form-group 
					    					 v-show=" it.discount_sale != 'no' " 
					    					label="Total con descuento:">
					    					<b-form-input
					    					maxlength=6 
					    					type="number"
					    					v-model.number='it.discount_sale_price'
					    					min=0.1
					    					placeholder="Ej: 1.00" />
					    				</b-form-group>
					    			</td>
					    			<td>
					    				S/. {{ it.prod_price }}
					    			</td>
					    			<td style="width: 130px;">
					    				<b-form-input 
					    					maxlength=4 
					    					type="number"
					    					:disabled=" enable_product_quantity_edition == 'no' && it.prod_by_weight == 'no' "
					    					v-model.number="it.prod_quantity" 
					    					min=1
					    					max=999
					    					placeholder="Ej: 1" />
					    				<div v-if=" it.prod_by_weight == 'yes' ">
					    					( S/. {{ ( it.prod_price * ( it.prod_quantity / 1000.0 ) ).toFixed(2) }} )
					    				</div>
					    				<div v-else>
					    					( S/. {{ ( it.prod_price * it.prod_quantity ).toFixed(2) }} )
					    				</div>
									  	<b-form-radio-group v-show=" it.prod_by_weight == 'yes' "
								  			stacked
								  			v-model="it.prod_weight_type.selected" 
								  			:options="it.prod_weight_type.options" />
					    			</td>
					    			<td>
					    				<b-btn 
					    					title="Quitar" v-b-tooltip
					    					size=sm 
					    					variant=danger 
					    					@click="remove_product_from_cart(it)">
					    					<fai icon=trash />
					    				</b-btn>
					    			</td>
					    		</tr>
					    	</tbody>
					    	<tbody v-else>
					    		<tr>
					    			<td colspan=5>Cero registros en la cesta</td>
					    		</tr>
					    	</tbody>
					    </table>
				    </div>
			    	<p>
			    		<label>Total: {{ get_total_price_for_sale }}</label>
			    	</p>
			    	<b-btn v-if=" is_new && list_products_for_sale.length>0 "
			    		@click=" process_new_sale "
			    		size=sm 
			    		variant=primary>Generar venta</b-btn>
			    	<b-btn 
			    		@click=" process_update_sale "
			    		size=sm 
			    		variant=primary 
			    		v-if=" !is_new && list_products_for_sale.length>0 ">Actualizar venta</b-btn>
			    		<b-btn 
			    			 v-if=" !is_new "
			    			v-b-modal.modal_printing_mode 
			    			size=sm 
			    			variant=warning>Ver Impresión</b-btn>
			    </b-card-body>
			  </b-card>
			</b-col>
			<b-col lg=5>
				<b-card 
					title="Búsqueda de productos" 
					sub-title="">

			    <b-card-body>
			  		<b-form-group 
				  		class="noselect"
			  			label="Filtrar productos por:">
				  		<b-form-radio-group 
				  			stacked
				  			v-model="filters.type.selected" 
				  			:options="filters.type.options" />
			  		</b-form-group>
			  		<b-input-group>
					    <template v-slot:prepend>
					    	<b-btn size=sm variant=dark>
					    		<fai icon=search v-if="!wait_search_products" />
					    		<b-spinner v-else variant="light" label="Spinning" small></b-spinner>
					    	</b-btn>
					    </template>
					    <b-form-input 
					    	ref="ref_filter_field_value"
					    	name="ref_filter_field_value"
					    	autofocus 
					    	:disabled=" wait_search_products" 
					    	placeholder="Tipee aquí para buscar" 
					    	v-on:keydown.enter="search_product"
					    	v-model="filter_field_value"></b-form-input>

					    <template v-slot:append>
					    	<b-btn size=sm variant=dark @click="search_product">
					    		Buscar
					    	</b-btn>
					    </template>
					  </b-input-group>
					  <br />
					  <b-form-checkbox 
				  		class="noselect" 
				  		v-if="filters.type.selected == 'prod_barcode'"
				      v-model="add_item_automatically_to_cart"
				      name="add_item_automatically_to_cart"
				      value="yes"
				      unchecked-value="no"
				    >
				    	Añadir producto automáticamente
				    </b-form-checkbox>
					  <br />
				    <div class="table-container">
				    	<table class="table table-stripped table-borderer">
					    	<thead>
					    		<tr>
					    			<th>#</th>
					    			<th>Producto</th>
					    			<th>Precio</th>
					    		</tr>
					    	</thead>
					    	<tbody v-if=" list_products_on_searching.length > 0 ">
					    		<tr v-for=" (it,idx) in list_products_on_searching" :key="idx">
					    			<td>{{ idx + 1 }}</td>
					    			<td>
					    				<b-btn size=sm variant=success @click="move_product_to_cart(it)">
					    					<fai icon="chevron-left"/>
					    				</b-btn>
					    				<strong>{{ it.prod_name }}</strong>
					    				<br />
					    				<span>stock: {{ it.prod_stock }}</span>
					    				<br />
					    				<i> {{ it.prod_barcode }}</i><br />
					    				<a :href="`${url_products}/${it.id}`" target="_blank">
					    					Modificar producto
					    				</a>
					    			</td>
					    			<td>{{ it.prod_price }}</td>
					    		</tr>
					    	</tbody>
					    	<tbody v-else>
					    		<tr>
					    			<td colspan=3>Cero registros en este listado</td>
					    		</tr>
					    	</tbody>
					    </table>
				    </div>
			    </b-card-body>
			  </b-card>
			</b-col>
		</b-row>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				list_products_on_searching:[],
				list_products_for_sale:[],
				wait_process_new_sale:false,
				wait_process_update_sale:false,
				wait_search_products:false,
				filter_field_value:'',
				add_item_automatically_to_cart:'yes',
				enable_product_quantity_edition:'no',
				filters:{
					type:{
						selected:'prod_barcode',
						options:[
							{text:'Código de barra',value:'prod_barcode'},
							{text:'Nombre de producto',value:'prod_name'},
						],
					}
				},
			}
		},
		mounted() {
			console.log('Component mounted.')
			console.log("current_sale",this.current_sale)
			if(this.current_sale && this.current_sale.json_products){
				const prods = JSON.parse(this.current_sale.json_products)
				console.log(prods)
				for(let obj of prods){
					if(!obj.prod_quantity)obj.prod_quantity = 0
					if(!obj.prod_by_weight)obj.prod_by_weight = 'no'
					if(!obj.prod_weight_type){
						obj.prod_weight_type = this.get_prod_weight_type_props()
					}else{
						const vv = this.get_prod_weight_type_props()
						vv.selected = obj.prod_weight_type
						obj.prod_weight_type = vv
					}

					if(!obj.discount_sale)obj.discount_sale = 'no'
					if(!obj.discount_sale_price)obj.discount_sale_price = 0

					obj.prod_stock_sync = false
					obj.prod_stock_no_unit = 0

				}
				this.list_products_for_sale = prods
			}
		},
		methods:{
			get_prod_weight_type_props(){
				return {
								selected:'g',
								options:[
									{text:'Gramos',value:'g'},
									{text:'Mili Litros',value:'ml'},
								],
							}
			},
			print(){
				(function(){
					window.frames['printing_area'].focus()
					window.frames['printing_area'].print()
				})()
			},
			search_product(){
				if(this.wait_search_products)return
				this.wait_search_products = true	
				this.axios.get(this.url_products_filter, {
			    params: {
			      filter_field_value:this.filter_field_value,
			      type:this.filters.type.selected,
			    },
			    headers:{
			    	'Accept': 'application/json',
			    }
			  })
			  .then( (response) => {
			  	this.wait_search_products = false
			    console.log(response)
			    this.list_products_on_searching = response.data.records
			    if(this.add_item_automatically_to_cart == 'yes' && response.data.records.length == 1){
			    	this.move_product_to_cart(response.data.records[0])
			    	this.filter_field_value = ''
			    }
		    	window.setTimeout(()=>{
		    		this.$refs.ref_filter_field_value.focus()
		    	},300)
			  })
			  .catch( (error) => {
			  	this.wait_search_products = false
			    console.log(error)
			    this.list_products_on_searching = []
		    	window.setTimeout(()=>{
		    		this.$refs.ref_filter_field_value.focus()
		    	},300)
			  })
			  .then(function () {
			  }) 
			},
			move_product_to_cart(item){
				let found = false
				let idx, record
				for(idx in this.list_products_for_sale){
					record = this.list_products_for_sale[idx]
					if( record.id == item.id ){
						found = true
						break
					}
				}
				if(!found){
					const copy = {...item}
					copy.prod_quantity = 1
					copy.prod_by_weight = 'no'
					copy.discount_sale = 'no'
					copy.discount_sale_price = 0
					copy.prod_weight_type = this.get_prod_weight_type_props()
					copy.prod_stock_sync = false
					copy.prod_stock_no_unit = item.prod_stock_no_unit ? item.prod_stock_no_unit : 0
					this.list_products_for_sale.push(copy)
				}else{
					record.prod_quantity++
					this.$set(this.list_products_for_sale,idx,record)
				}
			},
			remove_product_from_cart(item){
				Swal.fire({
				  title: `Seguro de retirar el producto '${item.prod_name}' del registro de esta venta ?`,
				  text: "",
				  icon: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  cancelButtonText: 'Cancelar operación',
				  confirmButtonText: 'Si, retirar!'
				}).then((result) => {
				  if (result.value) {

						let index_to_remove = -1
						for(let index in this.list_products_for_sale){
							if( this.list_products_for_sale[index].id == item.id ){
								index_to_remove = index
								break
							}
						}
						if(index_to_remove >= 0){
							this.list_products_for_sale.splice(index_to_remove,1)
						}

				  }
				})
			},
			list_products_for_sale_props(){
				return this.list_products_for_sale.map((reg)=>{
					return {
						id: reg.id,
						prod_name: reg.prod_name,
						prod_barcode: reg.prod_barcode,
						prod_price: reg.prod_price,
						prod_quantity: reg.prod_quantity,
						prod_weight_type: reg.prod_weight_type.selected,
						prod_by_weight: reg.prod_by_weight,
						discount_sale: reg.discount_sale,
						discount_sale_price: reg.discount_sale_price,
					}
				})
			},
			process_new_sale(){
				Swal.fire({
				  title: `Registrar nueva venta en el sistema ?`,
				  text: "",
				  icon: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  cancelButtonText: 'Cancelar operación',
				  confirmButtonText: 'Si'
				}).then((result) => {
				  if (result.value) {

						if(this.wait_process_new_sale)return
						this.wait_process_new_sale = true

						const data = {}
						data.products = this.list_products_for_sale_props()
						console.log("saving products",data.products)
						this.axios.post(this.url_sales_create, 
						data,
						{
					    headers:{
					    	'Content-Type': 'application/json',
					    	'Accept': 'application/json',
					    }
					  })
					  .then( (response) => {
					    this.wait_process_new_sale = false
					    window.location.assign(`${this.url_sales}/${response.data.id}`)
					    console.log(response)
					  })
					  .catch( (error) => {
					    this.wait_process_new_sale = false
					    console.log(error)
					    Swal.fire('Error al crear nueva venta','','error')
					  })
					  .then(function () {
					  }) 

				  }
				})
			},
			process_update_sale(){
				Swal.fire({
				  title: `Desea actualizar la venta registrada ?`,
				  text: "",
				  icon: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  cancelButtonText: 'Cancelar operación',
				  confirmButtonText: 'Si'
				}).then((result) => {
				  if (result.value) {

						if(this.wait_process_update_sale)return
						this.wait_process_update_sale = true

						const data = {}
						data.products = this.list_products_for_sale_props()

						this.axios.put(`${this.url_sales}/${this.current_sale.id}`, 
						data,
						{
					    headers:{
					    	'Content-Type': 'application/json',
					    	'Accept': 'application/json',
					    }
					  })
					  .then( (response) => {
					    this.wait_process_update_sale = false
					    window.location.assign(`${this.url_sales}/${response.data.id}`)
					    console.log(response)
					  })
					  .catch( (error) => {
					    this.wait_process_update_sale = false
					    console.log(error)
					    Swal.fire('Error al actualizar la venta','','error')
					  })
					  .then(function () {
					  }) 

				  }
				})
			},
			getProductStockInfoOnSale(it,idx){
				if( it.prod_stock_sync )return
				it.prod_stock_sync = true
				this.axios.get( `${this.url_products}/${it.id}`,{
					headers:{
						'Accept':'application/json'
					}
				})
				.then( response => {
					it.prod_stock_sync = false
					it.prod_stock = response.data.prod_stock
					it.prod_stock_no_unit = response.data.prod_stock_no_unit
					this.$set( this.list_products_for_sale,idx,it )
				})
				.catch( error => {
					it.prod_stock_sync = false
					this.$set( this.list_products_for_sale,idx,it )

				})
			}
		},
		watch:{
			filter_field_value(new_val, old_val){
				if( this.filters.type.selected == 'prod_barcode' && new_val != '' ){
					//this.search_product()
				}
				return
				console.log(new_val,old_val)
			},
		},
		computed:{
			get_total_price_for_sale(){
				let sum = 0
				for(let obj of this.list_products_for_sale){
					try{
						let qq = window.parseInt(obj.prod_quantity)
						qq = Number.isNaN(qq) ? 0 : qq

						if( obj.discount_sale != 'no' ){
							sum += ( Number.isNaN(obj.discount_sale_price) ? 0.0 : window.parseFloat(obj.discount_sale_price) )
						}else{

							if( obj.prod_by_weight == 'yes' ){
								sum += window.parseFloat(obj.prod_price) * ( qq / 1000.0 )
							}else{
								sum += window.parseFloat(obj.prod_price) * qq
							}
						}
					}catch(e){sum += 0.0}
				}
				return `S/. ${sum.toFixed(2)}`
			},
		},
		props:{
			url_products_filter:{
				type:String,
				default:'',
			},
			url_sales_create:{
				type:String,
				default:'',
			},
			url_sales:{
				type:String,
				default:'',
			},
			url_sales_printing_mode:{
				type:String,
				default:'',
				required:false,
			},
			url_products:{
				type:String,
				default:'',
			},
			is_new:{
				type:Boolean,
				default:true,
			},
			current_sale:{
				type:Object,
				default:null,
				required:false,
			},
		}
	}
</script>
<style lang=scss scoped>
	
	.ii{
		display: inline-block;
		color: #7f77ff;	
	}
</style>
