<template>
	<div>
		<b-modal
			:title=" form.id ? 'Detalle de compra' : 'Nueva compra' "
			id="modal_add_purchase"
			name="modal_add_purchase" 
			:ok-title=" form.id ? 'Actualizar' : 'Crear' "
			cancel-title="Cerrar cuadro"
			@ok="form_proc"
		>
			<b-card title="Compra por productos sueltos o por paquetes/cajas/costales ?">
				<b-form-group 
				>
					<b-form-radio-group class="noselect" 
						stacked
		        v-model="form.is_purchased_individually.selected"
		        :options="form.is_purchased_individually.options"
		        name="radio-is_purchased_individually"
		      ></b-form-radio-group>
				</b-form-group>
			</b-card>
			<div v-if=" !form.is_purchased_individually.selected ">
				<b-card title="Cuántos paquetes/cajas/costales ?">
					<b-form-group 
					>
						<b-form-input 
							type="number" 
							min=1 
							v-model.number="form.how_many_boxes" 
							placeholder="Ej: 10" />
					</b-form-group>
				</b-card>
				<b-card title="Adicionalmente cuántos items o kilos sueltos se compraron junto con el o los paquetes/cajas/costales ?">
					<b-form-group 
					>
						<b-form-input 
							type="number" 
							min=1 
							v-model.number="form.how_many_loose_products_were_bought" 
							placeholder="Ej: 10" />
					</b-form-group>
				</b-card>
				<b-card 
						title="Cuántos items por caja o paquete hay, o cuántos kilos por costal o bolsa existen ?" 
					>
					<b-form-group>
						<b-form-input 
							type="number" 
							min=2 
							v-model.number="form.how_many_items_by_box" 
							placeholder="Ej: 2" />
					</b-form-group>
				</b-card>
			</div>
			<div v-else>
				<b-card  
					title="Cuántos productos o kilos sueltos se compraron ?"
				>
					<b-form-group>
						<b-form-input 
							type="number" 
							min=2 
							v-model.number="form.how_many_items_bought_individually" 
							placeholder="Ej: 2" />
					</b-form-group>
				</b-card>
			</div>
			<b-card 
					title="Pago total realizado para esta compra" >
				<b-form-group>
					<b-form-input 
						type="number" 
						step="any"
						min=0 
						v-model.number="form.total_price_paid" 
						placeholder="Ej: 250.40" />
				</b-form-group>
			</b-card>
			<div v-if=" !form.is_purchased_individually.selected " class="item_price">
				Precio de compra por item/unidad o kilo: {{ calc_unit_price_by_item_in_box }}
			</div>
			<div v-else class="item_price">
				Precio de compra por item/unidad o kilo: {{ calc_unit_price_by_loose_item }}
			</div>
			<b-card 
					title="Código de barra del producto" 
					sub-title="opcional" >
				<b-form-group>
					<b-form-input 
						type="text" 
						v-model="form.barcode" 
						placeholder="" />
				</b-form-group>
			</b-card>
			<b-card title="Fecha de adquisición">
				<b-input-group>
					<b-form-datepicker 
					v-model="form.bought_at"  />

					<template v-slot:append>
						<b-btn size=sm variant=danger @click="form.bought_at=''">
							<fai icon=times />
						</b-btn> 
					</template>

				</b-input-group>
			</b-card>
			<b-card 
					title="Número de documento/recibo/factura de compra" >
				<b-form-group>
					<b-form-input 
						type="text" 
						v-model="form.receipt_number" 
						placeholder="" />
				</b-form-group>
			</b-card>
			<b-card title="Tipo de documento/recibo/factura:">
				<b-form-group 
				>
					<b-form-radio-group class="noselect" 
						stacked
		        v-model="form.receipt_type.selected"
		        :options="form.receipt_type.options"
		        name="radio-receipt_type"
		      ></b-form-radio-group>
				</b-form-group>
			</b-card>

		</b-modal>
		<span>{{ `${current_product.prod_name} / ${current_supplier.sup_name}` }}</span>
		<b-btn 
			class="mb-1"
			size=sm 
			variant=primary 
			v-b-modal.modal_add_purchase>
			Agregar compra
			<fai icon=plus />
		</b-btn><br />
		<b-form-group label="Mostrar eliminados ?" class="noselect">
      <b-form-radio-group 
      	stacked 
        v-model="filters.show_deleted.selected"
        :options="filters.show_deleted.options"
        name="checkbox-show-deleted"
      />
    </b-form-group>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>
						<b-btn 
							@click=" getPurchases "
							size=sm 
							variant=success>
							<fai v-if=" !wait_list " icon=sync />
							<b-spinner v-else variant="light" label="Spinning" small></b-spinner>
						</b-btn>
					</th>
					<th>Tipo de compra</th>
					<th>Total pag.</th>
					<th>Cuántos ?</th>
					<th>Fecha de adquisición</th>
					<th>Tipo de doc</th>
					<th>#Doc</th>
					<th>Creado el</th>
					<th>Actualizado el</th>
					<th>Acción</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(it,idx) in list_purchases " :key="idx" :class="{deleted: !!it.deleted_at }">
					<td :class="{is_ind: (it.is_purchased_individually == 1) }">
						<label>{{ idx+1 }}</label>
					</td>
					<td>
						<span>{{ it.is_purchased_individually == 1 ? 'Individual / Productos sueltos' : 'Paquete / Caja / Costal' }}</span>
						<br />
						<span v-if="it.barcode">{{ it.barcode }}</span>
					</td>
					<td>{{ it.total_price_paid }}</td>
					<td>
						<div>Total: {{ it.is_purchased_individually == 1 ? it.how_many_items_bought_individually : it.how_many_boxes }}</div>
						<div>{{ it.is_purchased_individually != 1 ? `Contiene: ${ it.how_many_items_by_box } unid.` : '' }}</div>
						<div> {{ it.how_many_loose_products_were_bought > 0 ? `Item sueltos: ${it.how_many_loose_products_were_bought} unid.` : '' }}</div>
					</td>
					<!--
					<td>{{ it.is_purchased_individually == 1 ? it.how_many_items_bought_individually : ( `${it.how_many_boxes}${it.how_many_loose_products_were_bought > 0 ? ` / (${it.how_many_loose_products_were_bought} items libres)` : ''}` ) }}</td>
					-->
					<td>
						{{ it.bought_at ? $moment(it.bought_at,'YYYY-MM-DD').format('DD/MM/YYYY') : 'Sin fecha' }}
					</td>
					<td>
						{{ getReceiptType(it.receipt_type) }}
					</td>
					<td>
						{{ it.receipt_number }}
					</td>
					<td>
						<span>{{ it.created_at | moment('DD/MM/YYYY hh:mm:ss a') }}</span><br />
						<strong v-if="!!it.deleted_at">Eliminado el día: {{ it.deleted_at | moment('DD/MM/YYYY hh:mm:ss a') }}</strong>
					</td>
					<td>
						{{ it.updated_at | moment('DD/MM/YYYY hh:mm:ss a') }}
					</td>
					<td>
						<b-btn 
							@click="remove_purchase(it)"
							class="mb-1" 
							variant=danger 
							size=sm>
							<fai icon=trash />
						</b-btn>
						<b-btn 
							@click="edit_purchase(it)" 
							v-b-modal.modal_add_purchase 
							class="mb-1" 
							variant=primary 
							size=sm>
							<fai icon=edit />
						</b-btn>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>
<script>
	export default{
		data(){
			return {
				list_purchases:[],
				wait_list:false,
				filters:{
					show_deleted:{
						selected:false,
						options:[
							{text:'SI', value: true},
							{text:'NO', value: false},
						],
					},
				},
				form:{
					id:null,
					is_purchased_individually:{
						selected:false,
						options:[
							{text:'Productos sueltos', value: true},
							{text:'paquetes/cajas/costales', value: false},
						],
					},
					how_many_boxes:1,
					how_many_loose_products_were_bought:0,
					how_many_items_by_box:2,
					how_many_items_bought_individually:1,
					total_price_paid:0,
					bought_at:null,
					receipt_number:"",
					barcode:"",
					receipt_type:{
						selected:'fact',
						options:[
							{text:'Factura', value: 'fact'},
							{text:'Boleta', value: 'bol'},
							{text:'Recibo', value: 'rec'},
							{text:'Ticket Factura', value: 'ticket_fact'},
							{text:'Ticket Boleta', value: 'ticket_bol'},
							{text:'Nota de crédito', value: 'nota_cred'},
							{text:'Nota de débito', value: 'nota_deb'},
							{text:'Otro', value: 'otro'},
						],
					},
					wait:false,
				},
			}
		},
		mounted(){
			this.getPurchases()
		},
		methods:{
			edit_purchase(it){
				this.getSBN(it,this.form)
				if(it.receipt_type == ''){
					this.form.receipt_type.selected = 'otro'
				}
			},
			remove_purchase(it){
				Swal.fire({
				  title: 'Eliminar registro de compra ?',
				  text: "",
				  icon: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  cancelButtonText: 'Cancelar operación',
				  confirmButtonText: 'Si!'
				}).then((result) => {
				  if (result.value) {
				  	this.axios.delete(`${this.url_purchases}/${it.id}`)
						.then(response => {
							console.log(response)
						})
						.catch(error =>{
							console.log(error)
						})
				  }
				})
			},
			getSBN(src,dst){
				if(!dst) dst = {}
				for(let idx in src){
					let data = src[idx]
					if(
						typeof data == 'boolean' || 
						typeof data == 'string' || 
						typeof data == 'number'
					){
						const tmp = dst[idx]
						if(typeof tmp === 'object' && tmp != null){
							const {selected} = tmp
							if(typeof selected !== 'undefined'){
								tmp.selected = data
							}
						}else{
							dst[idx] = data
						}
						console.log(`set1: ${data}, idx: ${idx}`)
					}else if( typeof data == 'object' && data != null ){
						const {selected} = data
						if( typeof selected !== 'undefined' ){
							dst[idx] = selected
							console.log(`set2: ${selected}, idx: ${idx}`)
						}
					}else{
						console.log(`Invalid type for: ${data}, idx: ${idx}`)
					}
				}
				return dst
			},
			getPurchases(){
				if(this.wait_list)return
				this.wait_list = true
				this.axios.get(this.url_list_purchases,{
					params:{
						show_deleted:this.filters.show_deleted.selected,
					}
				})
				.then(response => {
					this.wait_list = false
					console.log(response)
					this.list_purchases = response.data.records
				})
				.catch(error => {
					this.wait_list = false
					console.log(error)
				})
			},
			form_proc(vb_modal){
				vb_modal.preventDefault()
				Swal.fire({
				  title: `${this.form.id ? 'Actualizar compras ?' : 'Registrar nueva compra ?'}`,
				  text: "",
				  icon: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  cancelButtonText: 'Cancelar operación',
				  confirmButtonText: 'Si!'
				}).then((result) => {
				  if (result.value) {
				  	if(this.form.wait)return
				  	this.form.wait = true

				  	const values = this.getSBN(this.form)
				  	const data = new FormData()
				  	for(let idx in values){
				  		const dd = values[idx]
				  		data.append(idx,dd)
				  	}
				  	data.append('product_id',this.current_product.id)
				  	data.append('supplier_id',this.current_supplier.id)
				  	Swal.fire('Espere por favor...','','info')
				  	this.axios({
						  method: 'post',
						  url: `${this.url_product_suppliers_purchase}/${this.form.id ? this.form.id : ''}`,
						  data,
						  headers:{
						  	'Content-Type': 'multipart/form-data',
						  	'Accept': 'application/json',
						  },
						})
					  .then( (response) => {
				  		this.form.wait = false
					  	Swal.close()
					  	Swal.fire({
					  		'html':(this.form.id ? 'Registro Actualizado' : 'Registro creado'),
					  		'icon':'success'
					  	})
					    console.log(response)
					    this.getPurchases()
					  })
					  .catch( (error) => {
				  		this.form.wait = false
					  	Swal.close()
				  		if(error && error.response){
				  			console.log(error.response.data)
				  			console.log(error.response.status)
				  			console.log(error.response.headers)
				  			const data = error.response.data
				  			if(data.message){
				  				const str = window.axiosErrorToString(data)
				  				Swal.fire('Error al procesar los datos',str,'error')
				  			}
				  		}
					    console.log(error)
					  })
					  .then(function () {
					  }) 
				  }
				})
			},
			getReceiptType(type_name){
				if(type_name == 'fact')return 'Factura'
				if(type_name == 'bol')return 'Boleta'
				if(type_name == 'rec')return 'Recibo'
				if(type_name == 'ticket_fact')return 'Ticket Factura'
				if(type_name == 'ticket_bol')return 'Ticket Boleta'
				if(type_name == 'nota_cred')return 'Nota Crédito'
				if(type_name == 'nota_deb')return 'Nota Débito'
				return 'Otro'
			},
		},
		watch:{

		},
		computed:{
			calc_unit_price_by_item_in_box(){
				return ( this.form.total_price_paid / (this.form.how_many_boxes * this.form.how_many_items_by_box + this.form.how_many_loose_products_were_bought) ).toFixed(2)
			},
			calc_unit_price_by_loose_item(){
				return ( this.form.total_price_paid / this.form.how_many_items_bought_individually ).toFixed(2)
			},
		},
		props:{
			current_product:{
				type:Object,
				required:true,
			},
			current_supplier:{
				type:Object,
				required:true,
			},
			url_product_suppliers_purchase:{
				type:String,
				required:true,
			},
			url_list_purchases:{
				type:String,
				required:true,
			},
			url_purchases:{
				type:String,
				required:true,
			},
		},
	}
</script>
<style lang=scss scoped>
	.card-title{
		font-size: 1.2rem;
	}
	.is_ind{
		background-color: #edffb4;
	}
	.item_price{
		padding: 10px 10px;
		border-radius: 25px;
		background-color: #fff255;
		margin: 15px 0px;
		border: 1px solid #999;
		box-shadow: 2px 2px 11px #868686;
	}
	.card{
		margin-bottom: 10px !important;
    border: 2px solid #19906a;
	}
	tr.deleted{
		font-style: italic;
		background-color: #ffcaca !important;
	}
</style>